<html>

  <head>
    <title>
      dashboard
    </title>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />
    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/dashboard.css' rel='stylesheet' />
  </head>

  <body>

    <div class='page page--dashboard'>
      <aside class='page_aside aside grid grid-big'>
        <div class='aside_logo'>Sidebar</div>
        <nav class='aside_nav'>
          <a
            href='#'
            class='nav-button nav-button--active text-white radius-small click'
          >
            <img
              src='/svg/nav/home.svg'
              class='icon nav-button_icon'
            />
            <span class='nav-button_text'>Home</span>
          </a>
          <a
            href='#'
            class='nav-button text-white radius-small click'
          >
            <img
              src='/svg/nav/orders.svg'
              class='icon nav-button_icon'
            />
            <span class='nav-button_text'>Orders</span>
          </a>
          <a
            href='#'
            class='nav-button text-white radius-small click'
          >
            <img
              src='/svg/nav/products.svg'
              class='icon nav-button_icon'
            />
            <span class='nav-button_text'>Products</span>
          </a>
        </nav>
      </aside>
      <header class='header'>
        <div class='layout header_content'>
          <div class='header_search'>
            <input
              type='text'
              class='field radius field-header'
              placeholder='Search'
            />
            <span
              class='icon header_icon-search'
              style='background-image: url(/svg/header/search.svg)'
            ></span>
            <span
              class='icon header_icon-settings click icon-button icon-blue'
              style='background-image: url(/svg/header/settings.svg)'
            ></span>
          </div>
          <div class='header_icons flex'>
            <span
              class='icon header_icon-right click icon-button icon-yellow'
              style='background-image: url(/svg/header/internet.svg)'
            ></span>
            <span
              class='icon header_icon-right click icon-button icon-blue-light'
              style='background-image: url(/svg/header/lang.svg)'
            ></span>
            <span
              class='icon header_icon-right click icon-button icon-yellow'
              style='background-image: url(/svg/header/notify.svg)'
            ></span>
          </div>
        </div>
      </header>
      <main class='main'>
        <div class='layout'>
          <section class='analytic box'>

            <div
              class='analytic-card grid-double bg-purple'
            >

              <span
                class='icon analytic_icon click icon-purple'
                style='background-image: url(/svg/analytic/earning.svg)'
              ></span>

              <div class='grid relative'>
                <div class='analytic-card_title'>$500
                  <span
                    class='icon click analytic_arrow'
                    style='background-image: url(/svg/analytic/arrow.svg);'
                  ></span></div>
                <span class='text-gray'>Total earning</span>
              </div>

            </div>

            <div class='analytic-card grid-double bg-blue'>

              <span
                class='icon analytic_icon click icon-blue'
                style='background-image: url(/svg/analytic/order.svg)'
              ></span>

              <div class='grid'>
                <div class='analytic-card_title'>$961</div>
                <span class='text-gray'>Tota l Order</span>
              </div>

            </div>

            <div
              class='analytic-card analytic-card--mini bg-blue'
            >

              <span
                class='icon analytic_icon click icon-blue'
                style='background-image: url(/svg/analytic/earning.svg)'
              ></span>

              <div class='grid grid-small'>
                <div class='analytic-card_title'>$203k</div>
                <span class='text-gray'>Total Income</span>
              </div>

            </div>

            <div
              class='analytic-card border analytic-card--mini'
              style='margin-top: -4px;'
            >

              <span
                class='icon analytic_icon click icon-yellow'
                style='background-image: url(/svg/analytic/income.svg)'
              ></span>

              <div class='grid grid-small'>
                <div class='analytic-card_title'>$203k</div>
                <span class='text-dark-gray'>Total Income</span>
              </div>

            </div>

          </section>
        </div>

      </main>
    </div>

  </body>

</html>

test