<main class="p-2">

	<h1>all pages</h1>
	<div class="all-links">
		<a href="/apple">apple</a>
		<a href="/slack">slack</a>
		<a href="/dashboard">dashboard</a>
		<a href="/template-1">template 1</a>
		<a href="/template-2">template 2</a>
		<a href="/template-3">template 3</a>
		<a href="/template-4">template 4</a>
		<a href="/template-5">template 5</a>
		<a href="/template-6">template 6</a>
	</div>

</main>