{{!-- <main class="p-5">
    <h1>hello</h1>
    <h2 class="class">world</h2>
    <h3 id="id">my</h3>
    <h4 class="mb-5">name</h4>

    <div class="div" id="div">div</div>
    <div>div 2</div>
    <div class="mb-5 divyel">
        <div>
            <em>em</em>
        </div>
    </div>

    <h5>h5</h5>
    <p class="mb-5">paragraph</p>

    <h6>h6</h6>
    <div>div</div>
    <p>paragraph</p>

    <ul class="mt-5">
        <li class="child">1</li>
        <li class="child">2</li>
        <li class="child">3</li>
    </ul>

    <div class="my-5">
        <div>div</div>
    </div>

    <div class="father">
        <div class="child">div</div>
        <p class="child">paragraph</p>
        <p class="child">paragraph</p>
        <span class="child">span</span>
        <p class="child">paragraph</p>
        <div class="child">div</div>
        <p></p>
    </div>

    <div>hello world</div>

</main> --}}
{{!--
<div class="card">
    <input class="form-control input">
    <input class="form-control input" required>
    <input class="form-control input" type="number">
</div>

<div class="card">
    <img src="https://picsum.photos/500/500" alt="small img">

    <button class="button-good">button</button>

    <button class="buttongood ok my-3">button</button>

    <button class="ok okbuttonok ok">button</button>

    <button class="ok my-3 okbutton">button</button>


</div>

<div class="card">

    <a href="">qwerty</a>

    <a>qwerty</a>

    <a href="wedfg">qwerty</a>

    <div>div</div>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum molestiae dolores architecto libero accusamus
        veniam tenetur nulla, commodi enim, pariatur consequatur eligendi! Earum aspernatur voluptas possimus mollitia
        suscipit, quos dolorum?</p>

    <input class="input" placeholder="placeholder">

    <a href="wedfg">qwerty</a>

    <q>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quos nemo, molestiae ad amet quis dolores minus eos
        similique delectus excepturi officia nam doloremque expedita. Aut iste alias deserunt qui?</q>

</div> --}}

<main>
    <h2>h2<b></b></h2>
    <h2>h2</h2>
    <input>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi explicabo minima incidunt, dolore dolores,
        veritatis aliquid dolorem itaque commodi ullam accusantium quia ea aspernatur, facere eveniet sapiente dolor
        ipsum.</p>
    <h3>hello</h3>
</main>