<main class="p-2">

	<div class="all-links">
		<div>
			<a href="/apple">
				<p>apple</p>
			</a>
			<a href="/slack">
				<p>slack</p>
			</a>
			<a href="/dashboard">
				<p>dashboard</p>
			</a>
			<a href="/template-4">
				<p>template 4</p>
			</a>
		</div>
		<div>
			<a href="/template-1">
				<p>template 1</p>
			</a>
			<a href="/template-2">
				<p>template 2</p>
			</a>
			<a href="/template-3">
				<p>template 3</p>
			</a>
			<a href="/template-5">
				<p>template 5</p>
			</a>
			<a href="/template-6">
				<p>template 6</p>
			</a>
		</div>
	</div>

</main>