<html>

<head>
	<title>
		slack
	</title>
	<meta charset='utf-8' />
	<link rel='apple-touch-icon' sizes='180x180' href='/fav/apple-touch-icon.png' />
	<link rel='icon' type='image/png' sizes='32x32' href='/fav/favicon-32x32.png' />
	<link rel='icon' type='image/png' sizes='16x16' href='/fav/favicon-16x16.png' />
	<link rel='manifest' href='/fav/site.webmanifest' />
	<meta name='msapplication-TileColor' content='#da532c' />
	<meta name='theme-color' content='#ffffff' />
	<link href='css/normalize.css' rel='stylesheet' />
	<link href='css/slack.css' rel='stylesheet' />
</head>

<body>

	<section class='hero-section'>

		<div class='hero'>

			<div class='hero-content'>
				<span class="hero-label">Slack Features</span>
				<h1 class='hero-title'>One platform for your team and your work</h1>
				<p class='hero-text'>All the features of Slack work together so you can, too.</p>

				<div class='hero-buttons'>
					<a href="#" class='button-primary'>Try for free</a>
					<a href="#" class='button-secondary'>See all features</a>
				</div>

			</div>

			<img src='/img/hero.png' alt='program photo' class='hero-img' />

		</div>

		<div class='companies'>
			<img class="company" src="/img/airbnb.png" alt="airbnb">
			<img class="company" src="/img/target.png" alt="target">
			<img class="company" src="/img/uber.png" alt="uber">
			<img class="company" src="/img/onemedical.png" alt="onemedical">
			<img class="company" src="/img/lnewscorp.png" alt="lnewscorp">
			<img class="company" src="/img/va.png" alt="va">
			<img class="company" src="/img/intuit.png" alt="intuit">
			<img class="company" src="/img/sonos.png" alt="sonoc">
		</div>

	</section>

</body>

</html>