<main>

	<section>
		<div class="hero">
			{{>hero data=hero}}
			<div>
				<a class="button" href="{{hero.button.url}}">{{hero.button.text}}</a>
			</div>
		</div>
	</section>

	<section>
		<div class="flex-container">
			{{>preview}}
		</div>
	</section>

	<section>

		<div class="list-header">
			<h2 class="list-title">List of posts</h2>
			<div class="categorys">
				{{#each categories}}
				<button class="category-button">{{text}}</button>
				{{/each}}
			</div>
		</div>

		<div class="list-news">

			<div class="list">
				{{#each news}}
				{{>post}}
				{{/each}}
			</div>

			<aside class="list-aside">

				<div class="aside-card">
					<h3 class="aside-title">About</h3>
					<p class="aside-card-text">{{about}}</p>
				</div>

				{{>link-list data=archive title='Archives'}}

				{{>link-list data=social title='Social'}}

			</aside>

		</div>

	</section>

</main>