<div class="page">
	<div class="page-content">
		<header class="header g-0 row">

			<div class="col-3">
				{{>logo}}
			</div>

			<nav class="header-nav col-9">
				<div class="header-nav-right">
					{{>nav list=header}}
				</div>
			</nav>

		</header>

		<main>

			<section>
				{{>hero data=hero}}
				<p class="test-text">
					Lorem ipsum dolor,
					sitametconsecteturadipisicing-elitExpeditadebitisaccu-santiumdoloresodio eaque necessitatibus
					consequatur
					ad doloribus? Nulla cupiditate
					libero dolorum? Voluptatem sit
					voluptas impedit temporibus
					fugiat, iste sed.</p>
			</section>

			<section class="row plans">
				{{#each plans}}
				<div class="col plans-card">
					{{>card}}
				</div>
				{{/each}}
			</section>

			<section>
				<div class="tester">lorem good qwerty
					<button class="tester2">button</button>
				</div>
			</section>

		</main>

		<footer class="footer g-0 row">

			<div class="col-3">
				{{>logo}}
				<span class="footer-copyright">Copyright 2023</span>
			</div>

			{{#each footer}}
			<div class="col-3">
				<div class="footer-title">{{title}}</div>
				{{>nav list=links isVertical=true}}
			</div>
			{{/each}}

		</footer>
	</div>
</div>