<main>

	<section>
		{{>hero data=hero}}
		<p class="test-text">
			Lorem ipsum dolor,
			sitametconsecteturadipisicing-elitExpeditadebitisaccu-santiumdoloresodio eaque necessitatibus
			consequatur
			ad doloribus? Nulla cupiditate
			libero dolorum? Voluptatem sit
			voluptas impedit temporibus
			fugiat, iste sed.</p>
	</section>

	<section class="row plans">
		{{#each plans}}
		<div class="col plans-card">
			{{>card}}
		</div>
		{{/each}}
	</section>

	<section>
		<div class="tester">lorem good qwerty
			<button class="tester2">button</button>
		</div>
	</section>

</main>