@layer normalize, block, element, mod, adaptive;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--col-white);
  font-size: var(--size-1);
}

:root {
  --col-white: #fff;
  --col-light: #ced4da;
  --col-bg: #efeff4;
  --col-gray: rgba(255, 255, 255, 0.7);
  --col-dark-gray: rgba(0, 0, 0, 0.7);
  --col-black: #000;
  --col-dark: #212529;
  --col-purple: #5b39ad;
  --col-primary: #0d6efd;
  --col-blue: #008be1;
  --col-icon-blue: #0068bc;
  --col-icon-blue-light: #e1f3fc;
  --col-icon-purple: #402b9c;
  --col-icon-yellow: #fff8e3;
  --col-success: #00801b;
  --col-warning: #f51b2a;

  --space-1: 8px;
  --space-2: 12px;
  --space-3: 24px;
  --space-4: 40px;

  --size-1: 16px;
  --size-2: 20px;
  --size-3: 24px;
  --size-4: 32px;

  --radius-1: 4px;
  --radius-2: 8px;
  --radius-3: 16px;

  --opacity-1: 0.8;
  --opacity-2: 0.6;

  --transition-1: 0.7s;

  --line-height: 1.5em;
}

@layer block {
  .page {
    background-color: var(--col-bg);
    width: 100%;
    height: 100%;
  }

  .aside {
    padding: var(--space-3);
    background-color: var(--col-dark);
    color: var(--col-white);
    align-content: flex-start;
  }

  .main {
    padding: var(--space-4) var(--space-4);
    display: grid;
    gap: var(--space-4);
  }

  .nav-button {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    padding: 12px;
    text-decoration: none;
  }

  .grid-big {
    gap: var(--space-3);
  }

  .flex {
    display: flex;
    gap: var(--size-2);
  }

  .click {
    transition: opacity, 0.7s;
    cursor: pointer;
  }

  .click:hover {
    opacity: var(--opacity-1);
  }

  .click:active {
    opacity: var(--opacity-2);
  }

  .header {
    background-color: var(--col-white);
    padding: 12px;
  }

  .layout {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }

  .field {
    min-height: 36px;
    border: 1px solid var(--col-light);
    padding: var(--space-2);
    border-radius: var(--radius-1);
  }

  .icon {
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
  }

  .box {
    background-color: var(--col-white);
    padding: var(--space-3);
    border-radius: var(--radius-3);
  }

  .analytic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: var(--space-3);
  }

  .analytic-card {
    border-radius: var(--radius-2);
    padding: var(--space-3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-2);
    align-items: start;
  }
}

@layer element {
  .page_aside {
    grid-row: 1 / 3;
  }

  .aside_logo {
    font-size: var(--size-3);
    padding-bottom: var(--space-3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_search {
    width: 100%;
    max-width: 30%;
    min-width: 180px;
    background-color: #f8fafc;
    display: grid;
    position: relative;
  }

  .header_icon-search {
    height: 20px;
    width: 20px;
    position: absolute;
    top: calc(50% - 20px / 2);
    left: var(--space-2);
  }

  .header_icon-settings {
    width: 28px;
    height: 28px;
    position: absolute;
    top: calc(50% - 28px / 2);
    right: var(--space-2);
  }

  .header_icon-right {
    width: 32px;
    height: 32px;
  }

  .analytic_icon {
    width: 44px;
    height: 44px;
    border-radius: var(--radius-2);
  }

  .analytic-card_title {
    font-size: var(--size-4);
  }

  .analytic-card--mini .analytic-card_title {
    font-size: 20px;
  }

  .analytic_arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    right: -8px;
  }
}

@layer mod {
  .page--dashboard {
    display: grid;
    grid-template-columns: 7fr 41fr;
    grid-template-rows: min-content 1fr;
  }

  .nav-button--active {
    background-color: var(--col-primary);
  }

  .bold {
    font-weight: 500;
  }

  .text-gray {
    color: var(--col-gray);
  }

  .text-dark-gray {
    color: var(--col-dark-gray);
  }

  .text-heading {
    font-size: var(--size-3);
    color: var(--col-dark);
    font-weight: 500;
  }

  .text-white {
    color: var(--col-white);
  }

  .grid {
    display: grid;
    gap: var(--space-2);
  }

  .grid-small {
    gap: var(--space-1);
  }

  .radius {
    border-radius: var(--radius-2);
  }

  .radius-small {
    border-radius: var(--radius-1);
  }

  .radius-big {
    border-radius: var(--radius-3);
  }

  .field-header {
    padding-inline: 44px;
    width: 100%;
  }

  .icon-button {
    border-radius: var(--radius-1);
  }

  .icon-purple {
    background-color: var(--col-icon-purple);
  }

  .icon-blue {
    background-color: var(--col-icon-blue);
  }

  .icon-blue-light {
    background-color: var(--col-icon-blue-light);
  }

  .icon-yellow {
    background-color: var(--col-icon-yellow);
  }

  .grid-double {
    grid-row: 1 / 3;
  }

  .bg-purple {
    background-color: var(--col-purple);
    color: var(--col-white);
  }

  .bg-blue {
    background-color: var(--col-blue);
    color: var(--col-white);
  }

  .border {
    border: 1px solid var(--col-light);
  }

  .analytic-card--mini {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .relative {
    position: relative;
  }
}

@layer adaptive {
}
