/* :root {
  background: #fff;
}

* {
  color: darkorange;
}

h1 {
  color: darkblue;
}

.class {
  color: darkgreen;
}

#id {
  color: purple;
}

h1, h4, .class, #id {
  background: lightblue;
}

div.div#div {
  background: lightcoral;
}

main > div.divyel {
  color: black;
  background: yellow;
}

main em {
  background: darkmagenta;
}

h5 + p {
  background: lightgreen;
}

h6 ~ p {
  background: lightslategray;
}

li:first-child {
  color: green;
}

li:last-child {
  color: blue;
}

div:only-child {
  color: lightskyblue;
}

.child:first-of-type {
  color: blue;
}

.child:last-of-type {
  color: blue;
}

span:only-of-type {
  color:black;
}

.father > *:nth-child(5) {
  color: blueviolet;
}

.child:nth-child(even) {
  color: green;
}

.child:nth-child(odd) {
  color: green;
}

.child:nth-last-child(3) {
  color: green;
}

.child:nth-of-type(3) {
  color: green;
}

.child:nth-last-of-type(3) {
  color: green;
}

p:not(.child) {
  color: blue;
}

p:empty {
  background: #000;
  height: 10px;
} */

.card {
  background: #ededed;
  margin: 50px;
  padding: 50px;
}

.input {
  border-color: darkblue;
}

input:not(:last-child) {
  margin-bottom: 20px;
}

input[required] {
  border-color: darkorange;
}

input[type='number'] {
  border-color: green;
}

img[alt~=small] {
  width: 200px;
  margin-bottom: 20px;
}

button[class|='button'] {
  background: skyblue;
}

button[class^='button'] {
  background: skyblue;
}

button {
  background: skyblue;
}

button[class$='button'] {
background: skyblue;
}

div::first-letter {
  color: red;
}

p::first-line {
  color: red;
}

input::placeholder,
input[placeholder] {
  color: yellow;
  background: green;
}

q::before {
  content: '@#$ ';
  color: red;
}

q::after {
  content: '@#$ ';
  color: red;
}