:root {
  --color: blue;
  --space: 24px;
}

.hero-title {
  font-size: 56px;
  color: #212529;
  margin-bottom: 12px;
  text-align: center;
  resize: both;
  margin: 0 auto;
}

.hero-text {
  font-size: 20px;
  color: #212529;
  max-width: 585px;
  text-align: center;
  margin: 0 auto;
  line-height: 150%;
}

.plans-card {
  padding: 0;
  text-align: center;
}

.plans-card:not(:last-of-type) {
  margin-right: var(--space);
}

.card-header {
  text-align: center;
  font-size: var(--space);
  color: #212529;
  padding: 12px;
}

.card-body {
  padding: var(--space);
}

.card-text {
  font-size: 16px;
  color: #212529;
}

.card-text:not(:last-of-type) {
  margin-bottom: 12px;
}

.card-price {
  font-size: 40px;
  color: #212529;
  font-weight: 500;
}

.card-price-duration {
  color: #6c757d;
  font-size: 29px;
  vertical-align: -5px;
}

.card-texts {
  margin: var(--space) 0;
}

.card-button {
  display: block;
  width: 100%;
  font-size: 19px;
  padding: 9px;
}

.card {
  border: 2px solid blue;
  border-bottom-color: green;
  outline: 2px solid blue;
  outline-offset: 2px;
  box-shadow: 2px 2px 5px 0px blue;
}

.btn {
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px blue;
}

h1 {
  text-shadow: 0 0 5px purple;
}

.hero-text {
  text-shadow: 0 0 50px purple;
  width: 200px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.plans-card:nth-child(2) {
  visibility: hidden;
  display: none;
}

.test-text {
  max-width: 400px;
  word-wrap: break-word;
  hyphens: manual;
  hyphenate-character: ' ---';
  word-spacing: 5px;
  overflow: auto;
  resize: both;
  margin: 100px 0;
}

/* не повна підтримка */

.tester {
  margin: 0 auto;
  block-size: 100px;
  inline-size: 300px;
  border-block: 1px solid black;
  border-inline: 1px solid red;
  padding-inline: 20px;
  margin-block: 50px;
  min-block-size: 100px;
  text-justify: distribute;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-skip: spaces;
  font-variation-settings: 'wght' 500;
  line-break: normal;
  text-size-adjust: auto;
  text-decoration-thickness: 3px;
  font-language-override: 'en';
  text-underline-position: under;
  text-indent: 20px;
  text-underline-offset: 10px;
}

.tester2 {
  position: relative;
  inset-block: 40px;
}

body {
  /* background-image: radial-gradient(
    20% 20% at center,
    #0057ff 0%,
    #ffffff 100%
  ); */
  /* background-image: url(/img/tree.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-origin: border-box;
}

.card {
  background-color: transparent;
}

.hero-text {
  /* background-image: url(/img/tree.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  -webkit-background-clip: text;

  border-image-source: url(/img/photo.png);
  border-image-width: 20%;
  border-image-slice: 20%;
  border-image-repeat: round;
  border-image-outset: 50px;
}

.card-texts {
  list-style-type: upper-alpha;
  padding: 0;
  list-style-position: inside;
  list-style-image: linear-gradient(
    to bottom,
    blue,
    yellow
  );
}

.plans-text {
  display: list-item;
  text-align: left;
  margin-left: 5px;
}

td {
  border: 1px solid black;
  border-bottom-color: red;
  padding: 5px;
}

table {
  table-layout: fixed;
  width: 500px;
  border-collapse: separate;
  border-spacing: 10px;
  caption-side: top;
  empty-cells: hide;
  margin-left: calc(50% - (500px / 2));
}

.card:hover {
  opacity: 70%;
}

caption::before,
caption::after {
  width: 10px;
  height: 10px;
  display: inline-block;
  content: '';
  background-image: url(https://picsum.photos/10);
}

caption::before {
  margin-right: 5px;
}

caption::after {
  margin-left: 5px;
}

caption {
  color: var(--color);
}

.columns {
  columns: 2;
  column-gap: 50px;
  column-rule: solid grey 2px;
  column-fill: balance;
}

.test-col {
  column-span: all;
  break-before: page;
  break-after: avoid;
  break-inside: avoid;
  box-decoration-break: slice;
  orphans: 4;
  widows: 4;
  isolation: isolate;
  mix-blend-mode: difference;
  background-blend-mode: multiply;
  color: red;
  all: initial;
  background: blue;
  appearance: none;
  background-image: image-set(
    'photo.png' 2x,
    'tree.jpg' 2x
  );
  clip-path: circle(40%);
  scroll-padding: 10px;
}

.scroll {
  overflow-y: scroll;
  height: 100px;
  scroll-snap-type: y mandatory;
  scroll-padding: 20px;
  scroll-margin: 20px;
  scroll-snap-stop: always;
}

.scroll-item {
  height: 100px;
  background: purple;
}

.second {
  background: #fff;
  scroll-snap-align: center;
}

.header-top {
  position: sticky;
  top: 0px;
}
