* {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

:root {
  background-color: #111827;
  padding: 0 20px;
}

body {
  max-width: 1150px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
}

::selection {
  color: black;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #253041;
  align-items: center;
}

.logo {
  font-size: 14px;
  background-color: #885ffb;
  border-radius: 10px;
  padding: 8px 12px;
}

.header-links {
  display: flex;
  gap: 24px;
}

.header-link {
  text-decoration: none;
}

a[class*='link'] {
  border-bottom: 1px solid transparent;
}

a[class*='link']:hover {
  border-bottom-color: #ffffffaf;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  gap: 16px;
}

.header-ad {
  display: flex;
  gap: 6px;
  align-items: center;
}

.ad-badge {
  color: #885ffb;
  background-color: rgba(136, 95, 251, 0.2);
  padding: 4px 6px;
  border-radius: 4px;
}

.ad-link {
  text-decoration: none;
}

a {
  transition: border-bottom-color 0.7s, opacity 0.7s;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.6;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 32px;
  border-top: 1px solid #202a3b;
}

.footer-links {
  display: flex;
  gap: 16px;
}

.footer-link {
  text-decoration: none;
}

.footer-copyright {
  color: #9ca3af;
}

.shop-about {
  background: rgba(42, 49, 65, 0.44);
  padding: 32px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-heading {
  font-size: 24px;
  font-weight: 700;
}

.about-info {
  font-size: 14px;
  color: #9ca3af;
  line-height: 150%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 74px 16px;
  width: 100%;
  border-radius: 24px;
  background: radial-gradient(
    100% 625% at 100% 100%,
    rgba(17, 24, 39, 0) 0%,
    rgba(78, 63, 146, 0.6) 100%
  );
}

.hero-title {
  font-size: 36px;
  font-weight: 700;
}

.hero-description {
  color: #9ca3af;
  max-width: 540px;
}

.hero-button {
  background-color: #885ffb;
  padding: 12px 36px;
  border-radius: 10px;
  text-decoration: none;
  transition: opacity 0.7s;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles-title {
  font-size: 32px;
  font-weight: 700;
}

.articles-button {
  text-decoration: none;
  font-weight: 700;
  padding: 12px 20px;
  border: 1px solid #9ca3af;
  border-radius: 10px;
}

.article-cards {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
}

.art-card {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.art-card-img {
  border-radius: 24px;
}

.art-name {
  font-size: 18px;
  font-weight: 700;
}

.art-description {
  font-size: 14px;
  line-height: 150%;
  color: #9ca3af;
}

.art-button {
  text-decoration: none;
  width: fit-content;
  padding: 8px 16px;
  background: #885ffb;
  border-radius: 10px;
}

.art-card-img {
  width: 100%;
}

@media all and (width < 880px) {
  .article-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (width < 520px) {
  .article-cards {
    display: flex;
    flex-direction: column;
  }
  .ad-text {
    font-size: 14px;
  }

  .art-card-img {
    width: 100%;
  }

  .footer-links {
    align-items: center;
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
    gap: 32px;
  }

  .header-online {
    display: none;
  }
}

.nav-button--active {
  background-color: #0d6efd;
}

.nav-button {
  font-size: 20px;
  padding: 8px;
  width: 100%;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  text-decoration: none;
}

.text-white {
  color: #fff;
}

.radius-small {
  border-radius: 4px;
}

.click {
  transition: opacity, 0.7s;
  cursor: pointer;
}

.click:hover {
  opacity: var(--opacity-1);
}

.click:active {
  opacity: var(--opacity-2);
}

.radiox,
.radioxx,
.radioxxx {
  display: none;
}

.radio-label {
  background-color: white;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.radio-label div {
  height: 4px;
  background-color: #333;
  width: 20px;
  border-radius: 2px;
}

.radio-label-2 {
  background-color: #545454;
  padding: 20px 10px;
  border-radius: 12px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: white;
  cursor: pointer;
}

.radio-label-2 > div {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.radio-label-2 div:first-child {
  transform: rotate(45deg);
  position: relative;
  top: 4px;
}

.radio-label-2 div:last-child {
  transform: rotate(135deg);
}

.radio-label-3 {
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 0px;
  z-index: 100;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: start;
  justify-items: stretch;
  align-items: start;
  position: fixed;
  left: -100%;
  padding: 80px 24px;
  top: 0px;
  z-index: 100;
  width: 250px;
  height: 100%;
  transition: left 0.7s;
  background-color: #212529;
}

.menu .pagelist {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  width: 100%;
}

.menu .pagelist .pagef {
  background-color: #e7e7e7a3;
  padding: 6px 8px;
  border-radius: 12px;
  width: 100%;
}

.radiox:checked ~ .menu {
  left: 0px;
  padding: 48px 24px;
}

.radiox:checked ~ .radio-label-3 {
  height: 100%;
  width: calc(100% - 250px);
}

.nav-button {
  font-size: 20px;
  padding: 8px;
  width: 100%;
}

@media all and (width >= 1000px) {
  .sticky {
    display: none;
  }
}

@media all and (width < 1000px) {
  .nav {
    display: none;
  }

  .header-links {
    display: none;
  }

  .page {
    display: flex;
    flex-direction: column;
  }

  .header_icons {
    display: none;
  }

  .aside {
    display: none;
  }
}
