@import '/css/var.css';

@layer normalize, component, main, style;

@layer style {
  .card-button {
    background-color: red;
  }
}

.hero {
  display: flex;
  gap: 36px;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--col-bor);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--s-l);
}

.hero-title {
  font-size: 50px;
  color: var(col-title);
  font-weight: var(--w-t);
  line-height: 120%;
}

.hero-text {
  color: var(col-text);
  line-height: 170%;
}

.hero-img {
  border-radius: 12px;
  width: 100%;
}

.blog {
  display: flex;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--col-bor);
  gap: 36px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card-img {
  border-radius: 50%;
}

.card-title {
  color: var(--col-title);
  font-size: 32px;
  font-weight: var(--w-t);
}

.card-text {
  color: var(--col-text);
}

@layer main {
  .card-button {
    color: white;
    background: #6c757d;
  }
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #563d7c;
  padding: var(--s-l);
  border-radius: 8px;
  position: sticky;
  top: 0;
  z-index: 2;
  gap: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-button {
  background: white;
  border-radius: 4px;
  color: black;
  min-width: fit-content;
}

.form-title {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: var(--w-t);
  text-align: start;
}

.form-text {
  text-decoration: none;
  color: rgb(176, 176, 176);
}

/* .position-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
     position: relative;   
}

.position-test {
  height: 100px;
  width: 500px;
  padding: 24px;
  color: white;
  background: darkblue;
     position: fixed;   
  top: 100px;
  left: 50px;
  border-radius: 8px;
  z-index: 3;
  transition: top 2s;
  transition-timing-function: linear;
  transition-delay: 2s;
}

body:hover .position-test {
     top: 600px;   
}

.slider {
  position: relative;
}

.slider-item {
  background: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 15px);
  cursor: pointer;
}

.slider-item:hover {
  opacity: 0.7;
}

.slider-left {
  left: 30px;
}

.slider-right {
  right: 30px;
}

.img-float {
  float: left;
  width: 200px;
  height: 100px;
  margin: 12px 12px 12px 0;
  object-fit: contain;
  object-position: top right;
}

.clear-text {
  clear: right;
  user-select: all;
}

.caret {
  caret-color: red;
  border-color: black 1px solid;
}

.position {
  height: 100px;
  width: 100px;
  background: lightskyblue;
  border-radius: 8px;
     position: fixed;   
  left: 20px;
  top: 20px;
  border-radius: 12px;
  z-index: 5;
    right: 100px;
  z-index: 2;
  transition-property: background-color, left, width, height,
    border-radius;
  transition-duration: 1s;  
}

.test-button {
  background: purple;
  border-radius: 12px;
  padding: 16px;
  width: fit-content;
  color: white;
  font-size: 20px;
  background: repeating-conic-gradient(
    from 0deg at 50% 50%,
    green 0deg 30deg,
    blue 30deg 60deg,
    red 60deg 90deg
  );
}

.position {
     background: greenyellow;
  left: 300px;
  width: 150px;
  height: 150px;
  border-radius: 35%;   
     animation-name: animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-size: 16px;
  font-weight: 900;
  animation-fill-mode: both;
  transform-origin: bottom right;
}

.test-button:focus + .position {
  animation-play-state: paused;
} */

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hero-container {
  container-type: inline-size;
  container-name: hero;
}

@media all and (480px < width <= 760px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

@media all and (width <= 480px) {
  .blog {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .form {
    flex-direction: column;
    align-items: center;
  }

  .form-content {
    align-items: center;
    text-align: center;
  }

  .form-text {
    max-width: 300px;
    line-height: 150%;
  }
}

@media all and (display-mode: fullscreen) {
  .form {
    position: absolute;
    top: 20%;
    left: 20%;
  }
}

@container hero (width <= 760px) {
  .hero {
    flex-direction: column;
  }
}

.form {
  height: 10vh;
  width: 50vw;
}

.hero-title {
  font-size: 5cqw;
}