.main {
  display: flex;
  width: 100%;
  gap: 40px;
  align-items: start;
}

.messages {
  /* width: 65%; */
  border-radius: 12px;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.message-title {
  font-size: 24px;
  font-weight: 400;
  color: var(--col-title);
}

.messages > *:not(:last-child) {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--col-bor);
}

.messages-link {
  color: #007bff;
  align-self: flex-end;
  font-size: 14px;
  transition: opacity 1s, border-color 1s;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.messages-link:hover {
  opacity: 0.7;
  border-color: #007bffad;
}

.msg {
  display: flex;
  gap: 12px;
  flex-direction: column;
  position: relative;
  padding-right: 36px;
}

.msg-title,
.msg-message {
  color: var(--col-title);
}

.msg-day {
  position: absolute;
  right: 0;
  top: 0;
  color: #6c757d;
}

.advantages {
  display: flex;
  gap: 24px;
}

.adv {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 22px;
  border: 1px solid var(--col-bor);
  border-radius: 12px;
}

.adv-title {
  font-size: 18px;
  color: var(--col-title);
}

.adv-text {
  color: #767676;
  line-height: 150%;
}

.form {
  /* width: 35%; */
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 24px;
}

.main {
  display: grid;
  /* grid-template-areas: 'messages messages form'; */
  align-items: stretch;
}

.messages {
  /* grid-area: messages; */
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.form {
  /* grid-area: form; */
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.advantages {
  display: inline-grid;
  grid-auto-flow: row dense;
}

@media all and (width < 870px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
