<div class="post">
	<strong class="post-title">{{title}}</strong>
	<div class="post-date">{{date}} by <span class="post-author">{{author}}</span></div>
	<p class='post-text'>{{description}}</p>
	<a class="news-link" href="#">Continue reading</a>
</div>