<div class="ft ft-big">
	<img class="fr-img" src="{{img}}" alt="">
	<strong class="ft-title">{{title}}</strong>
	<p class="ft-text">{{text}}</p>
	<a class="arrow-link" href="#"><img src="/img/arrow.svg" alt="link"></a>
</div>