<footer class="footer">

	<div>
		{{>logo}}
		<span class="footer-copyright">Copyright 2023</span>
	</div>

	{{#each footer}}
	<div>
		<div class="footer-title">{{title}}</div>
		{{>nav list=links isVertical=true}}
	</div>
	{{/each}}

</footer>