<footer class="footer g-0 row">

	<div class="col-3">
		{{>logo}}
		<span class="footer-copyright">Copyright 2023</span>
	</div>

	{{#each footer}}
	<div class="col-3">
		<div class="footer-title">{{title}}</div>
		{{>nav list=links isVertical=true}}
	</div>
	{{/each}}

</footer>